[Unit]
Descriotion=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/maltisheva/app
ExecStart=/home/maltisheva/app/venv/bin/python main.py

[Install]
WantedBy=multi-user.target
